---
title: The Oblique Strategies Series
layout: page
permalink: oblique-strategies
---

<p>Here is the complete list of my series "Oblique: Week by Week", which breaks down a randomly picked <i>Oblique Strategy</i>, which were created by Brian Eno and Peter Schmidt. For more information, see the introductory post below. The <i>Oblique Strategies</i> are copyright Brian Eno and Peter Schmidt, all rights reserved.</p>

<ul>
{% for post in site.posts %}
{% if post.tags contains "oblique strategies" %}
  <li>
    <b><a href="{{ post.url }}">{{ post.title }}</a></b> - 
<i>{{ post.subtitle }}</i>  
<br>
{{ post.date | date: "%B %d, %Y" }}
  </li>
  {% endif %}
{% endfor %}
</ul>
