---
layout: page
title: The Archives
---
<!--JavaScript for expand/collapse-->
<script>
$('.expander').simpleexpand();
</script>

<h1>Posts by Tag</h1>


{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

{{ t | downcase }}
<a class="expander" href="#">&#9660;</a>
<div class="content">
<ul>
{% for post in posts %}
  {% if post.tags contains t %}

  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    &nbsp;
    <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
  </li>

  {% endif %}
{% endfor %}
</ul>
{% endfor %}
</div>
<!--end expand/collapse script-->


<br>
<h1>Posts by Date</h1>

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%B %Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h1 id="y{{post.date | date: "%B %Y"}}">{{ currentdate }}</h1>
    <ul>
    {% assign date = currentdate %}
  {% endif %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
