---
layout: default
---
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-559d6e041daa4a1c"></script>

<div class="post">
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <h1 class="post-title">{{ page.title }}</h1>
  <h2 class= "post-subitle"> {{ page.subtitle }}</h2>

{{ content | replace: '<!--more-->','<a class="anchor" id="read-more"></a>' }}
<br>
<h3>Liked the article? Share it:</h3>
<br>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div>
<!--traditional sharing buttons in black and white, couldn't get them to work as of 2/16/16
<ul class="share-buttons">
  <li><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img src="graphics/images/simple_icons_black/Facebook.png"></a></li>
  <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter"><img src="graphics/images/simple_icons_black/Twitter.png"></a></li>
  <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Share on Google+"><img src="graphics/images/simple_icons_black/Google+.png"></a></li>
  <li><a href="http://www.tumblr.com/share/link?url={{ page.url }}&name=<TITLE>&description=<DESCRIPTION>" target="_blank" title="Post to Tumblr"><img src="graphics/images/simple_icons_black/Tumblr.png"></a></li>
  <li><a href="http://pinterest.com/pin/create/button/?url={{ page.url }}&media=http://www.mikesturm.net/graphics/YFL-solo.png&description=Your%20Fool%20Laureate." target="_blank" title="Pin it"><img src="graphics/images/simple_icons_black/Pinterest.png"></a></li>
  <li><a href="https://getpocket.com/save?url={{ page.url }}&title={{ page.title }}" target="_blank" title="Add to Pocket"><img src="graphics/images/simple_icons_black/Pocket.png"></a></li>
  <li><a href="http://www.reddit.com/submit?url={{ page.url }}&title={{ page.title }}" target="_blank" title="Submit to Reddit"><img src="graphics/images/simple_icons_black/Reddit.png"></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?url={{ page.url }}&title={{ page.title }}" target="_blank" title="Share on LinkedIn"><img src="graphics/images/simple_icons_black/LinkedIn.png"></a></li>
  <li><a href="http://wordpress.com/press-this.php?u={{ page.url }}&t={{ page.title }}&i=http://www.mikesturm.net/graphics/YFL-solo.png" target="_blank" title="Publish on WordPress"><img src="graphics/images/simple_icons_black/Wordpress.png"></a></li>
  <li><a href="https://pinboard.in/popup_login/?url={{ page.url }}&title={{ page.title }}e&description={{ page.subtitle }}." target="_blank" title="Save to Pinboard"><img src="graphics/images/simple_icons_black/Pinboard.png"></a></li>
</ul>
-->
<br>


{% include comments.html %}
</div>
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:2 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            <small>{{ post.title }}</small>
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<script id="dsq-count-scr" src="//mikesturmnet.disqus.com/count.js" async></script>
